In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Parte2.db

'Connected: @Parte2.db'

In [32]:
%%sql

DROP TABLE IF EXISTS POS_TRX;
CREATE TABLE POS_TRX(ID_TRX INT PRIMARY KEY, Tienda VARCHAR(255), Fecha_transaccion DATE, Tipo_transaccion INT)

 * sqlite:///Parte2.db
Done.
Done.

[]

In [33]:
%%sql

DROP TABLE IF EXISTS POS_TRX_PAGO;
CREATE TABLE POS_TRX_PAGO(ID_TRX INT PRIMARY KEY, Monto_pago INT, Medio_de_pago VARCHAR(45))

 * sqlite:///Parte2.db
Done.
Done.

[]

In [34]:
%%sql

DROP TABLE IF EXISTS POS_TRX_CLIENTE;
CREATE TABLE POS_TRX_CLIENTE(ID_TRX INT PRIMARY KEY, Nombre VARCHAR(45), Rut VARCHAR(45))

 * sqlite:///Parte2.db
Done.
Done.

[]

In [35]:
%%sql
INSERT INTO POS_TRX VALUES (1, 'Tienda 1','2021-10-17', 2 );
INSERT INTO POS_TRX VALUES (2, 'Tienda 2','2020-10-18', 15 );
INSERT INTO POS_TRX VALUES (3, 'Tienda 1','2021-10-19', 2 );
INSERT INTO POS_TRX VALUES (4, 'Tienda 1','2019-10-20', 15 );

INSERT INTO POS_TRX_PAGO VALUES (1, 35000 ,'Debito');
INSERT INTO POS_TRX_PAGO VALUES (2, 300 ,'Debito');
INSERT INTO POS_TRX_PAGO VALUES (3, 3000 ,'Credito');
INSERT INTO POS_TRX_PAGO VALUES (4, 5000 ,'Debito');

INSERT INTO POS_TRX_CLIENTE VALUES (1, 'Ernesto' ,'77777778');
INSERT INTO POS_TRX_CLIENTE VALUES (2, 'Rodrigo' ,'181722598');
INSERT INTO POS_TRX_CLIENTE VALUES (3, 'Francisco' ,'181733705');
INSERT INTO POS_TRX_CLIENTE VALUES (4, 'Francisco' ,'181733705');

 * sqlite:///Parte2.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [90]:
# Escriba una consulta en SQL que retorne la cantidad de clientes distintos por tienda que realizaron una transacción del tipo 15.

%%sql 

SELECT POS_TRX.Tienda, COUNT(DISTINCT POS_TRX_CLIENTE.Rut) Clientes
FROM POS_TRX, POS_TRX_CLIENTE
WHERE POS_TRX.ID_TRX = POS_TRX_CLIENTE.ID_TRX AND POS_TRX.Tipo_transaccion = 15
GROUP BY POS_TRX.Tienda

 * sqlite:///Parte2.db
Done.

[('Tienda 1', 1), ('Tienda 2', 1)]

In [88]:
# Escriba una consulta en SQL que entregue las ventas de cada tienda por año en orden de mayor a menor.

%%sql 

SELECT POS_TRX.Tienda, strftime('%Y', POS_TRX.Fecha_transaccion) Año, SUM(POS_TRX_PAGO.Monto_pago) Monto
FROM POS_TRX, POS_TRX_PAGO
WHERE POS_TRX.ID_TRX = POS_TRX_PAGO.ID_TRX
GROUP BY POS_TRX.Tienda, Año
HAVING SUM(POS_TRX_PAGO.Monto_pago)
ORDER BY Tienda Asc, Año Desc

 * sqlite:///Parte2.db
Done.

[('Tienda 1', '2021', 38000),
 ('Tienda 1', '2019', 5000),
 ('Tienda 2', '2020', 300)]

In [86]:
#Escriba una consulta en SQL que entregue el valor de la transacción promedio de cada tienda por año en orden de mayor a menor.

%%sql 

SELECT POS_TRX.Tienda, strftime('%Y', POS_TRX.Fecha_transaccion) Año, AVG(POS_TRX_PAGO.Monto_pago) Monto_medio
FROM POS_TRX, POS_TRX_PAGO
WHERE POS_TRX.ID_TRX = POS_TRX_PAGO.ID_TRX
GROUP BY POS_TRX.Tienda, Año
ORDER BY Tienda Asc, Año Desc

 * sqlite:///Parte2.db
Done.

[('Tienda 1', '2021', 19000.0),
 ('Tienda 1', '2019', 5000.0),
 ('Tienda 2', '2020', 300.0)]

In [87]:
# Escriba una consulta en SQL que responda: ¿Cuál es el principal medio de pago? 

#Según número de transacciones

%%sql 

SELECT POS_TRX_PAGO.Medio_de_pago Medio, COUNT(POS_TRX_PAGO.Medio_de_pago) Transacciones
FROM POS_TRX_PAGO
GROUP BY POS_TRX_PAGO.Medio_de_pago
ORDER BY COUNT(POS_TRX_PAGO.Medio_de_pago) Desc
Limit 1

 * sqlite:///Parte2.db
Done.

[('Debito', 3)]